<ion-header>
  <ion-toolbar>
    <ion-title>Assets Manager</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login"
        >Logout<ion-icon slot="end" name="log-out-outline"></ion-icon
      ></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of assets" size="6">
        <ion-card button (click)="selectedItem(item); setOpen(true)">
          <img
            [src]="assetService.getAssetImage(item.type)"
            height="150px"
            width="100%"
            [alt]="item.name"
          />
          <ion-card-header>
            <ion-card-title class="font-sm">{{ item.name }}</ion-card-title>
            <ion-card-subtitle
              >{{ assetService.assetCount(item.type) }} -
              Item(s)</ion-card-subtitle
            >
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)" color="secondary"
            >Close</ion-button
          >
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid *ngIf="isAlert">
        <ion-row>
          <ion-col size="12">
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>Alerts</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div
                  *ngFor="let item of alertMe; let i = index"
                  style="padding-bottom: 10px"
                >
                  <ion-icon name="caret-forward-outline"></ion-icon>
                  {{ alertMe[i] }}
                </div>
              </ion-card-content>
              <ion-button
                fill="clear"
                color="secondary"
                style="padding: 5px"
                (click)="alertMe = []; isAlert = false"
                >Dismiss</ion-button
              >
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid>
        <ion-row>
          <ion-col size="12" *ngFor="let item of holdAsseets">
            <ion-card>
              <ion-card-header>
                <ion-card-title>{{ item.make }}</ion-card-title>
                <ion-card-subtitle>Nickname: {{ item.name }}</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <div>
                  <ion-text class="font-bold" *ngIf="item.fuelLevel">
                    Full level:
                  </ion-text>
                  <span>{{ item.fuelLevel }}</span>
                </div>
                <div>
                  <ion-text class="font-bold" *ngIf="item.year">
                    Year:
                  </ion-text>
                  <span>{{ item.year }}</span>
                </div>
                <div>
                  <ion-text class="font-bold" *ngIf="item.model">
                    Model:
                  </ion-text>
                  <span>{{ item.model }}</span>
                </div>
                <div>
                  <ion-text class="font-bold" *ngIf="item.odometer">
                    Odometer:
                  </ion-text>
                  <span>{{ item.odometer }}</span>
                </div>
                <div>
                  <ion-text class="font-bold" *ngIf="item.temperature">
                    Temperature:
                  </ion-text>
                  <span>{{ item.temperature }}</span>
                </div>

                <div>
                  <ion-text class="font-bold" *ngIf="item.status">
                    Status:
                  </ion-text>
                  <span>{{ item.status }}</span>
                </div>
                <div>
                  <ion-text class="font-bold" *ngIf="item.numberPlate">
                    Number plate:
                  </ion-text>
                  <span>{{ item.numberPlate }}</span>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-modal>
