<ion-header>
  <ion-toolbar>
    <ion-title>Assets Manager</ion-title>
    <ion-buttons slot="end">
      <ion-button color="primary" routerLink="/login">Logout<ion-icon slot="end" name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of assets" size="6">
       <ion-card button [routerLink]="['/detail', item.id, item.name]" >
        <img [src]="assetService.getAssetImage(item.type)" height="200px" width="100%" [alt]="item.name"/>
        <ion-card-header>
          <ion-card-title class="font-sm">{{item.name}}</ion-card-title>
          <ion-card-subtitle>{{assetService.assetCount(item.type)}} - Item(s)</ion-card-subtitle>
        </ion-card-header>
       </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>