<ion-header class="ion-no-border">
  <ion-toolbar color="tertiary" class="ion-no-border">
    <ion-title>Assets Manager</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/login">Logout<ion-icon slot="end" name="log-out-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of assets" size="6">
        <ion-card button (click)="selectedItem(item); setOpen(true)" color="primary">
          <div class="center mt-1">
            <img [src]="assetService.getAssetImage(item.type)" width="80%" [alt]="item.name" />
          </div>
          <ion-card-header>
            <ion-card-title class="font-sm">{{ item.name }}</ion-card-title>
            <ion-card-subtitle>{{ assetService.assetCount(item.type) }} -
              Item(s)</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-modal [isOpen]="isModalOpen">
  <ng-template>
    <ion-header class="ion-no-border">
      <ion-toolbar color="tertiary" class="ion-no-border">
        <ion-title>{{ title }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="setOpen(false)">Close</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-grid *ngIf="isAlert">
        <ion-row>
          <ion-col size="12">
            <ion-card color="warning">
              <ion-card-header>
                <ion-card-title>Alerts</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <div *ngFor="let item of alertMe; let i = index" style="padding-bottom: 10px">
                  <ion-icon name="caret-forward-outline"></ion-icon>
                  {{ alertMe[i] }}
                </div>
              </ion-card-content>
              <ion-button fill="clear" color="dark" style="padding: 5px"
                (click)="alertMe = []; isAlert = false">Dismiss</ion-button>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>

      <div class="color">
        <ion-grid>
          <ion-row>
            <ion-col class="text-center">
              <h4 class="font-w">Asset Details</h4>
            </ion-col>
            <ion-col size="12" *ngFor="let item of holdAsseets">

              <ion-card color="primary">
                <ion-card-header>
                  <ion-card-title>{{ item.make }}</ion-card-title>
                  <ion-card-subtitle>Nickname: {{ item.name }}</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content>
                  <div *ngIf="item.fuelLevel">
                    <ion-text class="font-bold">
                      Full level:
                    </ion-text>
                    <span>{{ item.fuelLevel }}</span>
                  </div>
                  <div *ngIf="item.year">
                    <ion-text class="font-bold">
                      Year:
                    </ion-text>
                    <span>{{ item.year }}</span>
                  </div>
                  <div *ngIf="item.model">
                    <ion-text class="font-bold">
                      Model:
                    </ion-text>
                    <span>{{ item.model }}</span>
                  </div>
                  <div *ngIf="item.odometer">
                    <ion-text class="font-bold">
                      Odometer:
                    </ion-text>
                    <span>{{ item.odometer }}</span>
                  </div>
                  <div *ngIf="item.temperature">
                    <ion-text class="font-bold">
                      Temperature:
                    </ion-text>
                    <span>{{ item.temperature }}</span>
                  </div>

                  <div *ngIf="item.status">
                    <ion-text class="font-bold">
                      Status:
                    </ion-text>
                    <span>{{ item.status }}</span>
                  </div>
                  <div *ngIf="item.numberPlate">
                    <ion-text class="font-bold">
                      Number plate:
                    </ion-text>
                    <span>{{ item.numberPlate }}</span>
                  </div>
                  <div *ngIf="item.type === 'truck'">
                    <ion-text class="font-bold">
                      Location:
                    </ion-text>
                    <span>{{ item.latitude }}, {{item.longitude}}</span>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>